repos:
  - repo: local
    hooks:
      - id: avoid-old-names
        name: Avoid old names and use use "Welkin" instead
        entry: "(Compliant[ ]Kubernetes|C[kK]8[sS][^_]|Complaint)"
        language: pygrep
        types: [text]
        exclude: ^(.pre-commit-config.yaml$|bin/)
      - id: avoid-old-website-urls
        name: Avoid old URLs and use "https://elastisys.io/welkin" instead
        entry: "elastisys.io/compliantkubernetes"
        language: pygrep
        types: [text]
        exclude: ^.pre-commit-config.yaml$
      - id: consistent-trademark
        name: Either use the trademark "Elastisys Welkin®" consistently or "Welkin" on its own
        entry: "(?<!Elastisys )\\bWelkin®"
        language: pygrep
        types: [text]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-yaml
        args:
          - --allow-multiple-documents
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: no-commit-to-branch
      - id: trailing-whitespace

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        name: check spelling
        exclude: ^playbooks/crds/[^\.]+\.yaml$
        args:
          - -I
          - .codespellignore

  - repo: local
    hooks:
      - id: shellcheck
        name: check scripts
        types: [shell]
        exclude_types: [csh, tcsh, zsh]
        language: script
        require_serial: true
        entry: scripts/run-from-container.sh
        args:
          - --network=none
          - docker.io/koalaman/shellcheck:v0.10.0@sha256:2097951f02e735b613f4a34de20c40f937a6c8f18ecb170612c88c34517221fb
          - --color=always
          - --external-sources

      - id: shfmt
        name: format scripts
        types: [shell]
        exclude_types: [csh, tcsh, zsh]
        language: script
        require_serial: true
        entry: scripts/run-from-container.sh
        args:
          - --network=none
          - docker.io/mvdan/shfmt:v3.10.0@sha256:d19cc37644449fe9a488f234d2c0cf0b770eaf6a5a40e30103e8099013ef8f9e
          - -w

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2
        name: lint markdown files
        exclude: ^(changelog/|kubespray/)
        args:
          - --fix

  - repo: local
    hooks:
      - id: sbom-diff
        name: check SBOM drift
        files: ^(kubespray/|sbom/)
        language: script
        pass_filenames: false
        require_serial: true
        entry: sbom/diff.sh
