  - placement:
      all:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                - key: elastisys.io/node-type
                  operator: In
                  values:
                    - rook-ceph
        tolerations:
        - key: elastisys.io/node-type
          operator: In
          values:
            - rook-ceph
