# Original idea found at http://stackoverflow.com/a/39083724
- name: Store known hosts of 'all' the hosts in the inventory file
  hosts: localhost
  connection: local
  vars:
    ssh_known_hosts_command: "ssh-keyscan -T 10"
    ssh_known_hosts_file: "{{ lookup('env','HOME') + '/.ssh/known_hosts' }}"
    ssh_known_hosts: "{{ groups['all'] }}"
  tasks:
  - name: For each host, scan for its ssh public key
    shell: "ssh-keyscan -t rsa {{ hostvars[item].ansible_host }} 2>/dev/null"
    with_items: "{{ ssh_known_hosts }}"
    register: ssh_known_host_results
    retries: 10
    delay: 3
    until: ssh_known_host_results.rc == 0
    tags:
      - ssh

  - name: Remove the public key in the '{{ ssh_known_hosts_file }}'
    known_hosts:
      name: "{{ hostvars[item.item].ansible_host }}"
      state: "absent"
      path: "{{ ssh_known_hosts_file }}"
    with_items: "{{ ssh_known_host_results.results }}"
    tags:
      - ssh

  - name: Add/update the public key in the '{{ ssh_known_hosts_file }}'
    known_hosts:
      name: "{{ hostvars[item.item].ansible_host }}"
      key: "{{ item.stdout }}"
      state: "present"
      path: "{{ ssh_known_hosts_file }}"
    with_items: "{{ ssh_known_host_results.results }}"
    tags:
      - ssh

- hosts: all
  serial: 1
  order: reverse_inventory
  tasks:
    - name: Check that the SSH key list file exists
      assert:
        that: ck8s_ssh_pub_keys_list is defined
        fail_msg: "ck8s_ssh_pub_keys_list is undefined (the group_vars file is likely missing). Did you run ck8s-kubespray init?"
    - name: Check that SSH key list is valid
      assert:
        that: ck8s_ssh_pub_keys_list and None not in ck8s_ssh_pub_keys_list
        fail_msg: "Public SSH key list invalid - add SSH keys to ck8s_ssh_pub_keys_list"
    - name: Add authorized keys from config folder
      ansible.posix.authorized_key:
        user: "{{ ansible_user }}"
        state: present
        exclusive: true
        key: "{{ ck8s_ssh_pub_keys_list | join('\n') }}"
    - name: Test connection
      wait_for_connection:
        delay: 1
        timeout: 30
